default:
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  tags:
    - ${SKA_DEFAULT_RUNNER}

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  OCI_IMAGE_BUILD_CONTEXT: $(PWD)
  CI_POETRY_VERSION: 2.0.1
  DB_NAME: postgres
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: pass
  DB: db

# Enable caching for python
cache:
  key: $CI_COMMIT_REF_SLUG
  paths:
    - .cache/pip

stages:
  - lint
  - build
  - test
  - scan
  - publish
  - pages

services:
  - name: artefact.skao.int/ska-sdp-global-sky-model-db:0.1.1
    alias: db
  - name: redis:7.2.4
    alias: redis
    

include:
  - project: "ska-telescope/templates-repository"
    file:
      # Python
      - "gitlab-ci/includes/python.gitlab-ci.yml"
      # .post step finalisers eg: badges
      - "gitlab-ci/includes/finaliser.gitlab-ci.yml"
      # OCI
      - "gitlab-ci/includes/oci-image.gitlab-ci.yml"
      # Helm
      - "gitlab-ci/includes/helm-chart.gitlab-ci.yml"
      # Release management
      - 'gitlab-ci/includes/release.gitlab-ci.yml'
      # Documentation
      - 'gitlab-ci/includes/docs.gitlab-ci.yml'
      # TMData
      - 'gitlab-ci/includes/tmdata.gitlab-ci.yml'
      # SonarQube scan
      - 'gitlab-ci/includes/sonar-scan.gitlab-ci.yml'