services:
  fastapi:
    build:
      context: .
      dockerfile: images/ska-sdp-global-sky-model-api/Dockerfile
    restart: always
    ports:
      - "8000:80"
    depends_on:
      - db
    links:
      - db:db
    volumes:
      - ./src/ska_sdp_global_sky_model:/usr/src/ska_sdp_global_sky_model
    environment:
      API_VERBOSE: 'true'

  db:
    build:
      context: .
      dockerfile: images/ska-sdp-global-sky-model-db/Dockerfile
    restart: always
    user: postgres
    environment:
      POSTGRES_PASSWORD: 'pass'
      POSTGRES_DB:  'postgres'
    ports:
      - "5432:5432"
    volumes:
      - database_volume:/var/lib/postgresql/data

volumes:
  database_volume:
    name: database_volume
