services:
  etcd:
    image: artefact.skao.int/ska-sdp-etcd:3.5.21
    environment:
      ETCD_NAME: ska-sdp-etcd-0
      ETCD_LOG_LEVEL: info
      ETCD_LISTEN_PEER_URLS: http://0.0.0.0:2380
      ETCD_LISTEN_CLIENT_URLS: http://0.0.0.0:2379
      ETCD_INITIAL_ADVERTISE_PEER_URLS: http://ska-sdp-etcd-0:2380
      ETCD_ADVERTISE_CLIENT_URLS: http://ska-sdp-etcd-0:2379
      ETCD_INITIAL_CLUSTER: ska-sdp-etcd-0=http://ska-sdp-etcd-0:2380
      ETCD_DATA_DIR: /var/etcd/data
      ETCD_MAX_TXN_OPS: 1024
    command: etcd
    ports:
      - 2379:2379

  fastapi:
    build:
      context: .
      dockerfile: images/ska-sdp-global-sky-model-api/Dockerfile
    restart: always
    ports:
      - "8000:80"
    depends_on:
      - db
      - etcd
    links:
      - db:db
      - etcd:etcd
    volumes:
      - ./src/ska_sdp_global_sky_model:/usr/src/ska_sdp_global_sky_model
    environment:
      API_VERBOSE: 'true'
      SDP_CONFIG_HOST: 'etcd'
      SDP_CONFIG_PORT: '2379'

  db:
    build:
      context: .
      dockerfile: images/ska-sdp-global-sky-model-db/Dockerfile
    restart: always
    user: postgres
    environment:
      POSTGRES_PASSWORD: 'pass'
      POSTGRES_DB:  'postgres'
    ports:
      - "5432:5432"
    volumes:
      - database_volume:/var/lib/postgresql/data

volumes:
  database_volume:
    name: database_volume
