[project]
include = ["MANIFEST.skao.int"]
name = "ska_sdp_global_sky_model"
version = "0.1.4"
description = ""
authors = [
    {name = "Jacob Maresca", email =  "jacob.maresca@akkodis.com>"},
    {name = "Christian Christelis", email =  "cchristelis@ska.ac.za"},
    {name = "Dominic Schaff", email =  "dominic@vivosa.co.za"}
]
readme = "README.md"
packages = [{include = "ska_sdp_global_sky_model", from = "src" }]
requires-python = ">=3.10,<3.12"
license-files = ["LICENSE"]

[project.urls]
Documentation = "https://developer.skao.int/projects/ska-sdp-global-sky-model/en/latest/"
Repository = "https://gitlab.com/ska-telescope/sdp/ska-sdp-global-sky-model"
Changelog = "https://gitlab.com/ska-telescope/sdp/ska-sdp-global-sky-model/-/blob/main/CHANGELOG.md"

[[tool.poetry.source]]
name = "ska-nexus"
url = "https://artefact.skao.int/repository/pypi-internal/simple"
priority = "primary"

[[tool.poetry.source]]
name = "PyPI-public"
url = "https://pypi.org/simple"
priority = "supplemental"

[tool.poetry.dependencies]
fastapi = "^0.115.8"
uvicorn = "^0.34.0"
httpx = "^0.28.1"
astroquery = "^0.4.7"
ska-ser-logging = "^0.4.3"
mocpy = "^0.17.1"
cdshealpix = "^0.6.5"
orjson = "^3.10.15"
python-multipart = "^0.0.9"
polars = "^1.9.0"
astropy-healpix = "^1.0.3"
ska-telmodel = "^1.19.8"
fastapi-utils = "^0.8.0"
typing-inspect = "^0.9.0"

[tool.poetry.group.dev.dependencies]
isort = "^5.13.2"
black = "^24.3.0"
flake8 = "^7.0.0"
pylint = "^3.1.0"
pylint-junit = "^0.3.4"
pytest = "^8.1.1"
pytest-cov = "^5.0.0"
build = "^1.2.1"

[tool.poetry.group.docs.dependencies]
sphinx = "^7.2.6"
sphinx-copybutton = "^0.5.2"
ska-ser-sphinx-theme = "^0.1.2"
sphinx-new-tab-link = "^0.4.0"

[tool.isort]
profile = "black"
line_length = 99

[tool.black]
line-length = 99

[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"

[project.scripts]
gsm-ingest = "ska_sdp_global_sky_model.cli.ingest_sm:main"
gsm-download = "ska_sdp_global_sky_model.cli.download_sm:main"